<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p> He was born in sdlkj slkj sdljk sjkl sdfljk sdlkjskljsklj sdlkj sf slkjdfljksdf  slj  sflkj sf sljk sflkj sfl sdlkj.</p>
<p>His favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, ...........</p>
